Library/
ProjectSettings/
vs/
Font/
Temp/
Legacy/
Demigiant/
*.meta
*.mdp
*.cache

DolgogiAdventure_ver.0.0.4/DolgogiAdventure_ver.0.0.4.sln
DolgogiAdventure_ver.0.0.4/DolgogiAdventure_ver.0.0.4.csproj
DolgogiAdventure_ver.0.0.4/UnityPackageManager/manifest.json
DolgogiAdventure_ver.0.0.4/DolgogiAdventure_ver.0.0.4.sln
DolgogiAdventure_ver.0.0.4/DolgogiAdventure_ver.0.0.4.csproj
